
body
{padding: 55px 44px;}

header
{display:flex;
justify-content:space-between;
padding-top: 25px;}

.titre 

{font-family: "raleway",sans-serif;
font-size: 18px;
color: black;}

.titre2{font-family: "raleway",sans-serif;
    font-size: 18px;
    color: black;
margin-bottom: -40px;
padding-left: 30px;}

.infos{margin-bottom: 40px;
margin-top: 20px;}

p
{font-family: "raleway", sans-serif; 
font-size: 10px;
color: black;} 

a
{font-family: "raleway", sans-serif;
font-size: 10;   
justify-content: space-between;
padding: 60px}

.trait-dessus 
{position: absolute;
width: 162px;
height: 2px;
left: 830px;
top: 0px;
background-color: #0065FC;}

.liens{ color: black;}
.liens:hover {color: #0065FC;}

.recherche {display: inline-flex;}

#icones
{background: #F2F2F2;
border: 15px solid #F2F2F2;
border-radius: 15px 0px 0px 15px;}

#recherche
{background: #FFFFFF;
border: 1px solid #F2F2F2;
border-top: 15px ;
padding-left: 10px;
padding-right: 50px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #000000;}
    
    

#button
{display: flex;
flex-direction: row;
align-items: center;
padding: 10px 10px;
gap: 10px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;

text-align: center;
color: #FFFFFF;
background: #0065FC;
border: 1px solid #0065FC;
border-radius: 0px 15px 15px 0px;}

.filtres
{font-family:'raleway',sans-serif;
font-size:14px;
color: #000000;
margin-top: 30px;
}


.bloc
{font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
display: flex;
flex-wrap: wrap;
margin-left: 30px;
margin-top: -40px;}

.titre-filtre i
{color: #0065FC;}

.bloc li
{font-family: 'raleway',sans-serif;
font-size: 14px;color: #000000;
border-radius: 50px;
border:2px solid #D9D9D9;
list-style-type: none;
padding: 10px 10px 10px 10px;}


.container1
{background-color:#F2F2F2 ;
width: 600px;
height:350px;
border-radius:20px;
padding: 70px 20px 20px 30px;
display: flex;
flex-wrap: wrap;
gap: 50px;
}

.element1 {margin-top: -20px;}

.sous-titres
{font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 12px;
margin-left: 5px;
margin-top: 5px;
}

.sous-titres2
{font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 9px;
margin-left: 5px;
margin-top: -10px;}



.cards
{
width: 150px ;
height: 110px;
background-color: white;
padding-top: 5px;
padding-right: 5px;
padding-left: 5px ;
border-radius: 20px;
}
   


.images
{width: 150px ;
height: 50px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.container2
{background-color: #F2F2F2;
border-radius: 20px;

}

.cards2
{background-color:white;
width:343px;
height:144px;
padding-top: 5px;
padding-right: 5px;
padding-left: 5px ;
border-radius: 20px;
}

.images2
{width:137px;
height:144px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;}