
header,body,main
{margin: 55px 44px;}

header
{display:flex;
justify-content:space-between;
padding-top: 25px;}

.titre 
{font-family: "raleway",sans-serif;
font-size: 22px;
color: black;}

p
{font-family: "raleway", sans-serif; 
font-size: 16px;
color: black;} 

a
{font-family: "raleway", sans-serif;
font-size: 16;   
justify-content: space-between;
padding: 60px}

.trait-dessus 
{position: absolute;
width: 162px;
height: 2px;
left: 770px;
top: 0px;
background-color: #0065FC;}

.liens{ color: black;}
.liens:hover {color: #0065FC;}

.recherche {display: inline-flex;}

#icones
{background: #F2F2F2;
border: 15px solid #F2F2F2;
border-radius: 15px 0px 0px 15px;}

#recherche
{background: #FFFFFF;
border: 1px solid #F2F2F2;
border-top: 15px ;
padding-left: 10px;
padding-right: 70px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;}
    
    

#button
{display: flex;
flex-direction: row;
align-items: center;
padding: 15px 16px;
gap: 10px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
background: #0065FC;
border: 1px solid #0065FC;
border-radius: 0px 15px 15px 0px;}

h2
{font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #000000;}    

.titre-filtre ul
{font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
display:flex;
align-items: normal;
justify-content: space-around;}

.titre-filtre i
{color: #0065FC;}

.titre-filtre li
{font-family: 'raleway'sans-serif;
font-size: 17px;color: #000000;
border-radius: 50px;
border:2px solid #D9D9D9;
list-style-type: none;
justify-items: center;
padding: 10px 10px 10px 10px;
margin-top: -40px;}


.container1
{background-color:#F2F2F2 ;
Width: 892px;
Height:626px;
border-radius:20px;
padding: 20px 20px 20px 20px;
margin: 10px;
display: flex;
flex-wrap: wrap;
gap: 50px;
}


.sous-titres
{font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
position: relative;
padding-right: 70px;
margin-top: 5px;}

.sous-titres2
{font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;}



.cards
{
width: 246px ;
Height: 199px;
background-color: white;
padding-top: 5px;
padding-right: 5px;
padding-left: 5px ;
border-radius: 20px;
}
   


.images
{width: 246px ;
Height: 100px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}